{% extends "base-page-2020.twig" %}

{% block content %}
<div class="page-2020-wrap">
    <div class="row projects-intro">
        <div class="col-xs-24">
            <h1 class="projects-intro-headline">{{ options.headline_404_page }}</h1>
            <div class="projects-intro-copy">{{ options.text_404_page }}</div>
        </div>
    </div>
</div>
{% endblock %}


