<div class="newsletter-signup">
    <form class="form-email">
        <div class="form-group">
            <label for="formGroupEmailInput">{{ options.email_title }}</label>
            <input type="email" class="input-email" id="formGroupEmailInput" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">{{ options.email_button_title }}</button>
    </form>
</div>