{% extends "base-page-2020.twig" %}

{% block content %}
<main>
	<div class="page-2020-wrap">
		{% include 'views/inc/page-intro-block.twig' %}
		{% for item in post.meta('pages') %}
			<div class="page-teaser row">
				<div class="col-xs-24 col-md-12">
					{% if item.page %}
						<a class="page-teaser-link" href="{{ item.page }}">
						{% endif %}
						<h2 class="h3 teaser-title">{{ item.teaser_title }}</h2>
						{% if item.page %}
						</a>
					{% endif %}
				</div>
				<div class="col-xs-24 col-md-12 teaser-text">
					{{ item.teaser_text }}
				</div>
				<div class="page-teaser-footer">
					{% if item.page %}
						<div class="page-link">
							<a href="{{ item.page }}" class="svg-arrow-2020-right svg-arrow-2020-right-dims arrow-right"></a>
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</main>
{% endblock %}
