{% extends "base-page-2020.twig" %}

{% block content %}
    <div class="row">
        <div class="section fullwidth margin-top-200">
            <div class="centered-page-area">
                <div class="col-xs-24 col-lg-18 content-area no-padding margin-bottom-50">
                    {{ post.content | wpautop }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="section fullwidth content-submission">
            <div class="centered-page-area">
                {{ post.iframe }}
            </div>
        </div>
    </div>
{% endblock %}
