<div class="category-filters">
    <div class="category-filters-headline">{{ options.rounds_filter_title }}</div>
    <ul class="category-filters-items rounds">
        {% for item in project_rounds_filters %}
            <li>
                <a href="#" data-filter=".{{ item.slug }}">#{{ item.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>