{% extends "base-page-2020.twig" %}

{% block content %}
<main>
    <section class="section fullwidth fullheight img-user-submission">
        <div class="the-p">
            <img src="{{ get_image(post.thumbnail).src('large')}}" class="img-responsive-height" alt="{{post.title}}" />
        </div>
        {% if(deviceType == "computer") %}<div class="deadline-text"><a class="underlined" href="{{ site.link }}">{{ options.cta_home }}</a></div>{% endif %}
    </section>
    <section class="section fullwidth fullheight fit-to-mobile margin-bottom-50 canvas-push">
        {% include 'views/paper-canvas-push.twig' %}
    </section>
</main>
{% endblock %}
