/vendor/
/composer.lock
/phpunit.xml
/wordpress/
/wp-content/plugins/
/wp-content/uploads/
/wp-content/blogs.dir/
/wp-content/upgrade/
/wp-content/cache/
/wp-content/object-cache.php
/wp-content/db.php
/wp-content/advanced-cache.php
/wp-content/w3-total-cache-config-*.php
/wp-content/w3tc-*/
/wp-config.php
/.htaccess
/wiki/
/id_rsa
