/*
* 3d flip panel
*/

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}
/*  UPDATED! flip the pane when hovered */
.flip-container.computer:hover .back {
  transform: rotateY(0deg);
}
.flip-container.computer:hover .front {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {

}

/* flip speed goes here */
.flipper {
  transition: 0.8s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.back{
  position: absolute;
}
.front, .back {
  backface-visibility: hidden;
  transition: 0.8s;
  transform-style: preserve-3d;

  top: 0;
  left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(-180deg);
}

/*
	Some vertical flip updates
*/
.vertical.flip-container {
  position: relative;
}

.vertical .back {
  transform: rotateX(180deg);
}

.vertical.flip-container:hover .back {
  transform: rotateX(0deg);
}

.vertical.flip-container:hover .front {
  transform: rotateX(180deg);
}
