/******************************************************************
Site Name: opendata.ch
Author: Yacine Belarbi @ studioyacine.ch

Stylesheet: Typography

*******************************************************************/

$regular: "m3regular", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial;
$regularItalic: "m3italic", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial;
$light: "m3light", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial;
$lightItalic: "m3light_italic", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial;
$bold: "m3bold", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial;
$boldItalic: "m3bold_italic", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial;

$body: "DroidSansRegular", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial;
$bodyBold: "DroidSansBold", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial;

@mixin font($style) {
    @if $style == "light" {
        font-family: $light;

        em,
        i {
            font-family: $lightItalic;
        }

        strong,
        b {
            font-family: $regular;
        }
    }

    @if $style == "normal" {
        font-family: $regular;

        em,
        i {
            font-family: $regularItalic;
        }

        strong,
        b {
            font-family: $bold;
        }
    }

    @if $style == "bold" {
        font-family: $bold;
    }
}

@mixin textantialiasing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($base-font-size)}rem;
}
