/******************************************************************
Site Name: opendata.ch
Author: Yacine Belarbi @ studioyacine.ch

Stylesheet: Typography

*******************************************************************/

$regular: "M3Regular", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial;

$body: "DroidSans", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial;

$mono: "M3Mono", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial;

@mixin font($style) {
    @if $style == "light" {
        font-weight: 300;
    }

    @if $style == "normal" {
        font-weight: normal;
    }

    @if $style == "bold" {
        font-weight: 600;
    }
}

@mixin textantialiasing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($base-font-size)}rem;
}
