%svg-common {
	background: url("svg/sprite.css-617286b6.svg") no-repeat;
}

.svg-arrow-2020-down {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-arrow-2020-down-dims {
	width: 24.2px;
	height: 27.2px;
}

.svg-arrow-2020-right {
	@extend %svg-common;
	background-position: 4.372158097236796% 6.143045195261079%;
}

.svg-arrow-2020-right-dims {
	width: 26.2px;
	height: 24.2px;
}

.svg-arrow-2020-up {
	@extend %svg-common;
	background-position: 9.062391077030325% 11.70494699646643%;
}

.svg-arrow-2020-up-dims {
	width: 24.2px;
	height: 27.2px;
}

.svg-close-x {
	@extend %svg-common;
	background-position: 13.391304347826088% 17.72428884026258%;
}

.svg-close-x-dims {
	width: 23px;
	height: 23px;
}

.svg-logo-p {
	@extend %svg-common;
	background-position: 17.81895937277263% 24.163568773234203%;
}

.svg-logo-p-dims {
	width: 36.8px;
	height: 49.6px;
}

.svg-nav-arrow {
	@extend %svg-common;
	background-position: 23.67784306947805% 32.83582089552239%;
}

.svg-nav-arrow-dims {
	width: 19.4px;
	height: 11px;
}

.svg-nav-arrow-big {
	@extend %svg-common;
	background-position: 27.980752094100872% 35.95554587056004%;
}

.svg-nav-arrow-big-dims {
	width: 36.9px;
	height: 21.1px;
}

.svg-nav-arrow-big-back {
	@extend %svg-common;
	background-position: 34.57494207806095% 40.749618653301376%;
}

.svg-nav-arrow-big-back-dims {
	width: 36.9px;
	height: 21.1px;
}

.svg-nav-arrow-big-back-blue {
	@extend %svg-common;
	background-position: 41.16913206202103% 45.543691436042714%;
}

.svg-nav-arrow-big-back-blue-dims {
	width: 36.9px;
	height: 21.1px;
}

.svg-nav-arrow-big-blue {
	@extend %svg-common;
	background-position: 47.763322045981106% 50.33776421878405%;
}

.svg-nav-arrow-big-blue-dims {
	width: 36.9px;
	height: 21.1px;
}

.svg-nav-arrow-blue {
	@extend %svg-common;
	background-position: 52.71344624956792% 53.94456289978678%;
}

.svg-nav-arrow-blue-dims {
	width: 19.4px;
	height: 11px;
}

.svg-nav-arrow-small {
	@extend %svg-common;
	background-position: 55.64115733607259% 55.92035585681%;
}

.svg-nav-arrow-small-dims {
	width: 13.9px;
	height: 7.9px;
}

.svg-nav-arrow-small-blue {
	@extend %svg-common;
	background-position: 58.038007190549564% 57.614912094895146%;
}

.svg-nav-arrow-small-blue-dims {
	width: 13.9px;
	height: 7.9px;
}

.svg-nav-eye {
	@extend %svg-common;
	background-position: 62.71096109433292% 61.1353711790393%;
}

.svg-nav-eye-dims {
	width: 35.1px;
	height: 22px;
}

.svg-nav-reset {
	@extend %svg-common;
	background-position: 67.77003484320558% 66.08315098468272%;
}

.svg-nav-reset-dims {
	width: 24px;
	height: 23px;
}

.svg-nav-share {
	@extend %svg-common;
	background-position: 71.95121951219512% 71.1159737417943%;
}

.svg-nav-share-dims {
	width: 24px;
	height: 23px;
}

.svg-nav-totop {
	@extend %svg-common;
	background-position: 76.0396728728032% 78.37837837837837%;
}

.svg-nav-totop-dims {
	width: 23.3px;
	height: 36px;
}

.svg-nav-twitter {
	@extend %svg-common;
	background-position: 80.39762818276945% 83.47826086956522%;
}

.svg-nav-twitter-dims {
	width: 24.6px;
	height: 20px;
}

.svg-nav-twitter-big {
	@extend %svg-common;
	background-position: 85.26315789473684% 88.20960698689956%;
}

.svg-nav-twitter-big-dims {
	width: 28px;
	height: 22px;
}

.svg-news-retweet {
	@extend %svg-common;
	background-position: 89.05058905058904% 90.98675779581376%;
}

.svg-news-retweet-dims {
	width: 20.8px;
	height: 11.8px;
}

.svg-news-topost {
	@extend %svg-common;
	background-position: 92.46456965088143% 93.39019189765459%;
}

.svg-news-topost-dims {
	width: 19.4px;
	height: 11px;
}

.svg-news-topost-new {
	@extend %svg-common;
	background-position: 95.92118907708262% 95.75602473875027%;
}

.svg-news-topost-new-dims {
	width: 19.4px;
	height: 11.1px;
}

.svg-status-ok {
	@extend %svg-common;
	background-position: 99.96522948539638% 99.82676483326115%;
}

.svg-status-ok-dims {
	width: 22.8px;
	height: 18.2px;
}

