.wp-block-quote {
    position: relative;
    margin: 3rem 0;
    max-width: 980px;

    border-left: 4px solid $red;
    padding: 0.4em 0 0.4em 2rem;

    // &:before,
    // &:after {
    //     position: absolute;
    //     font-size: 7rem;
    //     opacity: 0.1;
    // }

    // &:before {
    //     content: "“";
    //     left: -4rem;
    //     top: 1rem;
    // }

    // &:after {
    //     content: "”";
    //     right: -2rem;
    //     bottom: 0rem;
    // }

    p {
        @include font-m;
        margin-bottom: 0.25em !important;
    }

    cite {
        @include font-s;
        color: $greyDark;
    }
}
