html.overlayIsOpen {
    overflow-y: hidden;

    body {
        overflow: hidden;
    }
}

.Flyout {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 25;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    // transition: transform 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);

    @include above-tablet {
        width: 450px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.Flyout--inner {
    position: relative;
    z-index: 10;
    padding: 2rem 1rem;
    padding-top: 15vh;
    width: 320px;
    height: 100vh;
    background: $red;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
}

.Flyout--menu {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;

    li {
        // text-align: right;
    }

    li + li {
        margin-top: 1rem;
    }

    .submenu-toggle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 5px;
        right: 0.5rem;
        width: 30px;
        height: 30px;

        span {
            @include visuallyhidden;
        }

        &:after {
            content: "";
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $white;
            display: inline-block;
        }
    }
    li.menu-item-has-children {
        position: relative;
    }

    a {
        @include text-uppercase;
        @include font-xl;
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }

    li.current-menu-item a {
        opacity: 0.5;
        pointer-events: none;
    }

    .submenu-toggle:hover + .sub-menu {
        display: block;
    }

    .sub-menu {
        padding: 1rem 0 0;
        display: none;

        li {
            line-height: 1;
        }
        li + li {
            margin-top: 0;
        }
        a {
            @include font-base;
        }
    }
}

.Flyout--search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid darken($red, 5%);

    input {
        padding: 1.5rem 1rem 1.5rem;
        border: none;
        background: none;
        width: 100%;
        color: $white;
        @include font(normal);
        -webkit-appearance: none;

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: darken($red, 15%);
            opacity: 1; /* Firefox */
            @include font(light);
        }
    }

    button {
        display: none;
    }
}

.Flyout .SocialLinks {
    text-align: right;
    margin-top: 3rem;
    a {
        color: $white;
    }
}

.Flyout--close {
    position: absolute;
    z-index: 20;
    top: 1.4rem;
    margin-right: 4px;
    @include sitepadding(right);

    svg {
        width: 20px;
        height: 20px;
        color: $white;
    }
}

.Flyout.show {
    transform: translateX(0);
    pointer-events: all;
}

.Flyout--overlay {
    background: $black;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    cursor: pointer;
    // transition: 0.3s opacity;
}
