.Footer {
    background: #f9f9f9;
    padding: 3rem 0 1rem;
    margin-top: 5rem;
}

.Footer--top {
    @include sitewidth-s;

    display: flex;
    flex-wrap: wrap;

    /* Supports Grid */
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;

    @include above-mobile {
        grid-template-columns: 3fr 1fr 1fr 1fr;
    }

    .SocialLinks {
        @include mobile {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        li {
            display: inline-block;
        }

        a {
            @include a;
            text-decoration-color: $black;
        }
    }
}

.Footer--links {
    ul {
        @include mobile {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    li {
        margin-right: 1.5rem;
        margin-bottom: 0.1em;
        @include above-mobile {
            margin-right: 0;
        }
    }

    a {
        @include font(normal);
        @include font-base;
        @include a;
        text-decoration-color: $black;
    }
}

.Footer--bottom {
    @include sitewidth-s;
    @include font-xs;
    color: $grey;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.Footer--title {
    @include text-uppercase;
    display: block;
    margin-bottom: 0.15rem;
    @include above-mobile {
        margin-bottom: 1.5rem;
    }
}

.Footer--text {
    @include above-mobile {
        padding-right: 2rem;
    }

    > div {
        @include font-base;
        @include font(normal);
    }
    p {
        @include paragraph;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        @include a;
    }
}

.Footer--button {
    width: 80px;
    height: 80px;
    border-radius: 200px;
    background: $red;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include text-uppercase;
    @include font-base;
    position: absolute;
    right: 1rem;
    transform: translateY(-120%);
    transform-origin: 50% 50%;
    @include above-mobile {
        position: static;
        transform: translateY(-90%);
        width: 125px;
        height: 125px;
    }

    &:hover {
        @include above-mobile {
            transform: scale(1.02) translateY(-90%);
        }
    }
}
