/******************************************************************
Site Name: opendata.ch
Author: Yacine Belarbi @ studioyacine.ch

Stylesheet: Social links

******************************************************************/

.SocialLinks {
    li + li {
        margin-left: 1rem;
        @include above-mobile {
            margin-left: 0.2rem;
        }
    }
    a {
        @include font(normal);
        @include font-base;
        @include hidetext;
    }

    .icon {
        width: 32px;
        height: 32px;
        color: $black;
    }
}
