/******************************************************************
Site Name: opendata.ch
Author: Yacine Belarbi @ studioyacine.ch

Stylesheet: Social links

******************************************************************/

.SocialLinks {
    li + li {
        margin-top: 0.1em;
    }
    a {
        @include font(normal);
        @include font-base;
    }
}
