// DEFAULT
.TeaserList--item:not(.TeaserList--item--big) {
    .TeaserNews {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: 1px solid #eee;
        padding: 1rem 0;

        .TeaserNews--image {
            flex-basis: 64px;
            @include image-ratio("teasersquare");
            margin-right: 1rem;
            margin-bottom: 0;

            img {
            }
        }

        .TeaserNews--text {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;

            @include above-mobile {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }

        .TeaserNews--title {
            @include font-base;
            @include font(normal);
            cursor: pointer;
            margin-bottom: 0;
        }

        .TeaserNews--date {
            @include above-mobile {
                margin-left: auto;
            }
        }
    }
}

.TeaserNews {
    &:hover {
        opacity: 0.7;
    }
}


.TeaserNews--terms {
    @include font-xs;
    font-family: $mono;
    color: $greyDark;
}

.TeaserNews--date {
    @include font-xs;
    font-family: $mono;
    color: $red;
}

// BIG TEASER
.TeaserList--item--big .TeaserNews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
    border: none;
    padding: 0;

    .TeaserNews--image {
        width: 100%;
        margin-bottom: 0.5rem;

        img {
            width: 100%;
            height: auto;
        }
    }

    .TeaserNews--text {
        display: flex;
        flex-direction: column-reverse;
    }

    .TeaserNews--title {
        @include font-l;
    }

    .TeaserNews--date {
        margin: 0;
    }
}
