.TeaserGrid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;

    /* Supports Grid */
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;


    @include above-mobile {
        grid-gap: 2rem;
    }

    &.size--2 {
        grid-template-columns: repeat(2, 1fr);
        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &.size--3 {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 4rem;
        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &.size--4 {
        grid-template-columns: repeat(4, 1fr);
        @include mobile {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.TeaserGrid.slider {
    display: block;

    .TeaserGrid--item {
        width: calc(80% - 2rem);
        margin-right: 2rem;
        opacity: 0.2;
        transition: opacity 0.3s;

        @include above-mobile {
            width: calc(50% - 2rem);
        }

        @include above-desktop {
            width: calc(33.33334% - 2rem);
        }
    }

    .TeaserGrid--item.is-selected {
        opacity: 1;
    }
}

.TeaserGrid--item {
    margin-bottom: 2rem;
}

.Teaser {
}

.Teaser:hover {
    opacity: 0.7;
}

.Teaser--image {
    @include image-ratio("teaserlarge");
    margin-bottom: 0.5rem;
}

.Teaser--title {
    @include font-m;
    margin-bottom: 0.25rem;
}

.Teaser--text {
    p {
        @include font-s;
    }
}

.Teaser--date {
    display: inline-block;
    @include font-xs;
    font-family: $mono;
    letter-spacing: 1px;
    color: $red;
    margin-bottom: 0.1rem;
}

.Teaser--terms {
    @include font-xs;
    font-family: $mono;
    margin-top: 0.25rem;
    color: $greyDark;
}

.TeaserGrid.size--2 {
}

.TeaserGrid.size--3 {
    .Teaser--title {
        @include font-m;
        margin-bottom: 0.25rem;
    }

    img {
        object-fit: contain;
    }
}

.TeaserGrid.size--4 {
    .TeaserGrid--item {
        margin-bottom: 0rem;
    }

    .Teaser--title {
        @include font-base;
        margin-bottom: 0.25rem;
        @include above-mobile {
            line-height: 28px;
        }
    }

    img {
        object-fit: contain;
    }
}
