<a class="arrow-link" href="{{ url }}" target="_blank">
    <span class="arrow-title">{{ title }}</span>
    <span class="arrow-icon svg-arrow-2020-right svg-arrow-2020-right-dims arrow-right"></span>
</a>