<!-- slick slider -->
{% if post.meta('images')|length > 0 %}
    <div class="slider-wrap">
        {% for image in post.meta('images') %}
            <img class="" src="{{get_image(image.image).src('large')}}" alt="{{ image.title }}" />
        {% endfor %}
    </div>
{% endif %}