<!-- slick slider -->
{% if post.get_field('images')|length > 0 %}
    <div class="slider-wrap">
        {% for image in post.get_field('images') %}
            <img class="" src="{{TimberImage(image.image).src('large')}}" alt="{{ image.title }}" />
        {% endfor %}
    </div>
{% endif %}