<!-- Begin MailChimp Signup Form -->
<div class="mc_embed_signup {{ type }}">
    <form action="index.php" class="mailchimp-form" method="get" >
        <div class="mc_embed_signup_scroll">
            <div class="mc-field-group">
                <div class="input-responsive-wrap">
                    <!--
                    <div class="input-responsive">
                        <input type="email" value="" name="EMAIL" placeholder="{{ options.email_title }}" class="mce-EMAIL required email" >
                    </div>-->

                    <div class="input-responsive">
                        <div class="mc-embedded-subscribe button">
                            <a href="https://prototypefund.us5.list-manage.com/subscribe?u=929f1e07936386d34833e20d1&id=d6f6159664" target="_blank">
                                {{ options.email_button_title }}
                                <div class="submit-arrow {% if type == 'big' %}svg-nav-arrow-big svg-nav-arrow-big-dims{% else %}svg-nav-arrow svg-nav-arrow-dims{% endif %}"></div>
                                <div class="submit-arrow-hover {% if type == 'big' %}svg-nav-arrow-big-blue svg-nav-arrow-big-blue-dims{% else %}svg-nav-arrow-blue svg-nav-arrow-blue-dims{% endif %}"></div>
                            </a>
                            <a href="https://us5.campaign-archive.com/home/?u=929f1e07936386d34833e20d1&id=d6f6159664" target="_blank">
                                {{ options.newsletter_button_title }}
                                <div class="submit-arrow {% if type == 'big' %}svg-nav-arrow-big svg-nav-arrow-big-dims{% else %}svg-nav-arrow svg-nav-arrow-dims{% endif %}"></div>
                                <div class="submit-arrow-hover {% if type == 'big' %}svg-nav-arrow-big-blue svg-nav-arrow-big-blue-dims{% else %}svg-nav-arrow-blue svg-nav-arrow-blue-dims{% endif %}"></div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="mce-responses clear">
                <div class="response mce-response" style="visibility:hidden"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b837cb313a33e01747a28d942_e560ebaf33" tabindex="-1" value=""></div>

        </div>
    </form>
</div>
<!--End mc_embed_signup-->