/******************************************************************
Site Name: opendata.ch
Author: Yacine Belarbi @ studioyacine.ch

******************************************************************/

.Logo {
    img {
        width: 150px;
        height: auto;
        @include mobile {
            width: 120px;
        }
    }
}

.main {
    @include sitewidth-s;
}

.SectionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    strong {
        @include text-uppercase;
        @include font-base;
    }

    a {
        @include font(normal);
        @include font-s;
        color: $grey;
        letter-spacing: 0.02em;

        &:hover {
            @include a;
        }
    }
}

#menu-main-navigation {
    display: none;

    @include above-mobile {
        display: flex;
    }

    .submenu-toggle {
        display: none;
    }

    li + li {
        margin-left: 1.2em;
    }

    > li.current-menu-item > a,
    li.current_page_parent > a {
        color: $red;

        &:hover {
            opacity: 1;
        }
    }

    a {
        @include font(normal);
        @include font-s;

        &:hover {
            opacity: 0.5;
        }
    }

    li.menu-item-has-children > a:after {
        content: "";
        margin-left: 6px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $black;
        display: inline-block;
        margin-bottom: 3px;
    }

    li.menu-item-has-children:hover .sub-menu {
        display: block;
    }

    .sub-menu {
        position: absolute;
        display: none;

        li + li {
            margin-left: 0;
            margin-top: 0;
        }

        li.current_page_item a {
            color: $grey;
        }
    }
}
