.SimplePage {
    @include sitewidth-s;
}

body.single-news,
body.single-event {
    .SimplePage {
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;
    }

    .SimplePage--title {
        @include above-mobile {
            text-align: center;
        }
    }
}

.SimplePage--title {
    @include font-xl;
    margin-bottom: 0.25em;

    &:last-child {
        margin-bottom: 0.5em;
    }
}

.SimplePage--postdate {
    @include font-xs;
    @include font(bold);
    color: $red;
    display: block;
    margin-bottom: 2rem;
    @include above-mobile {
        text-align: center;
    }
}

.SimplePage--body {
    @include richtext(all);
}

body.search-results,
body.search-no-results {
    .SimplePage--title--label {
        display: block;
        letter-spacing: 0;
        @include font(normal);
        @include font-base;
        color: $grey;
    }

    .search-title {
        margin-bottom: 0.25em;
    }

    .byline {
        @include font-xs;
        @include font(bold);
    }
}
