.SimplePage {
    @include sitewidth-s;
}

body.single-news,
body.single-event {
    .SimplePage {
        @include above-tablet {
            margin-left: auto;
            margin-right: auto;
            max-width: 940px;
        }
    }

    .SimplePage--title {
        @include above-tablet {
            max-width: 900px;
        }
    }
}

.SimplePage--header {
    margin-bottom: 3rem;
}

.SimplePage--title {
    @include font-xl;
    margin-bottom: 0.25em;
}

.SimplePage--postdate {
    @include font-xs;
    font-family: $mono;
    color: $red;
    display: inline-block;
}

.SimplePage--body {
    @include richtext(all);
}

.SimplePage--categories {
    @include font-xs;

    ul {
        display: inline-flex;
        flex-wrap: wrap;
        font-family: $mono;
        color: $greyDark;
    }

    li:not(:last-child) {
        &:after {
            content: "/";
            margin: 0 0.5rem;
        }
    }
}

.SimplePage--eventdates {
    @include font-m;
    color: $red;
    font-family: $mono;
    margin-bottom: 0.25rem;
}

body.search-results,
body.search-no-results {
    .SimplePage--title--label {
        display: block;
        letter-spacing: 0;
        @include font(normal);
        @include font-base;
        color: $grey;
    }

    .search-title {
        margin-bottom: 0.25em;
    }

    .byline {
        @include font-xs;
        @include font(bold);
    }
}
