/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
.nav-toggle{
  display: none;
}

.header {
  background-color: transparent;
}

html {
  &.touch {
    .main-nav-wrap{
      padding-top: 1.75em;
      justify-content: space-between;
    }
  }
}

.main-nav-wrap{
  width: auto;
  height: auto;
  position: relative;
  background-color: transparent;
  flex-direction: row !important;
  display: flex;

  transform: translate(0, 0);
  @include transition(transform 0s ease-out);

  padding: 1.75em 2em 0 2em;

  .main-nav{
    display: flex;
    .menu-item{
      margin-right: 0;
      display: block;
      width: auto;
      font-size: 1.25rem;
      position: static;

      a{
        padding-right: 1.25em;

        &:hover, &:focus{
          background-color: transparent;
        }
      }
    }
  }

  .nav-language{
    margin-left: auto;
    font-size: 1.25rem;
    width: auto;
  }

  &.gone{
    transform: translateX(0%);
  }
}

ul.submenu {
  left: 0;
  padding: 1rem 3rem 1rem 3rem;
  li a {
    font-size: 1rem;
  }
}

.menu-item:hover ul.submenu {
  display: block;
}


h1,
.h1 {
  font-size: 2.5em;
}

h2,
.h2 {
  font-size: 2.25em;
}

h3,
.h3,
.project-list-item-copy p {
  font-size: 1.6em;
}

h4,
.h4 {
  font-size: 1.4em;
}

h5,
.h5 {
  font-size: 1.125em;
}

h6,
.h6 {
  font-size: 1em;
}

p,
ul li,
ol li {
  font-size: 1.125rem;
}
.article {
  font-size: 1.125rem;
}

#fixed-logo-p {
  position: fixed;
}

.centered-page-area,
.faqpage-area {
  max-width: none;

  margin: 0;
  padding-left: 162px;
}
.logo-margin-page-area {
  margin: 0;
  padding-left: 162px;
}
.frontpage-text-wrap {
  padding-left: 110px;
}


.project-single {
  .project-single-content {
    h2 {
      font-size: 1.6em;
    }
  }
}

/*********************
Frontapage
*********************/

.project-link {
  padding: 1em 0;
}

/*********************
SINGLE PROJECT PAGE
*********************/

.project-content-tile {
  .project-single {
    margin-top: 150px;
  }
}



/*********************
PROJECTS PAGE
*********************/

.category-filters {
  left: 350px;
}

/*********************
CONTENT NEWS
*********************/

.tile-wrapper {
  .tile {
    .text {
      &.size-0-20 {
        font-size: 3em;
        line-height: 1em;
      }

      &.size-20-50 {
        font-size: 2.3em;
        line-height: 1.1em;
      }

      &.size-50-80 {
        font-size: 2.1em;
        line-height: 1.1em;
      }

      &.size-80-100 {
        font-size: 1.8em;
        line-height: 1.2em;
      }

      &.size-100-120 {
        font-size: 1.7em;
        line-height: 1.2em;
      }

      &.size-120-140 {
        font-size: 1.6em;
        line-height: 1.2em;
      }
    }
  }
}
