/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

h1,
.h1 {
  font-size: 3em;
}

h2,
.h2 {
  font-size: 2.5em;
}

h3,
.h3,
.project-list-item-copy p {
  font-size: 1.6em;
}

h4,
.h4 {
  font-size: 1.4em;
}

h5,
.h5 {
  font-size: 1.25em;
}

h6,
.h6 {
  font-size: 1em;
}

.nav li a,
.nav-language,
p,
ul li,
ol li {
  font-size: 1.25rem;
}

#fixed-logo-p {
  position: fixed;
}

.centered-page-area,
.faqpage-area {
  max-width: none;

  margin: 0;
  padding-left: 162px;
}
.logo-margin-page-area {
  margin: 0;
  padding-left: 162px;
}
.frontpage-text-wrap {
  padding-left: 110px;
}

.article {
  font-size: 1.25rem;
}

.project-single {
  .project-single-content {
    h2 {
      font-size: 1.6em;
    }
  }
}

/*********************
SINGLE PROJECT PAGE
*********************/

.project-content-tile {
  .project-single {
    margin-top: 150px;
  }
}

/*********************
PROJECTS PAGE
*********************/

.category-filters {
  left: 350px;
}

/*********************
CONTENT NEWS
*********************/

.tile-wrapper {
  .tile {
    .text {
      &.size-0-20 {
        font-size: 3em;
        line-height: 1em;
      }

      &.size-20-50 {
        font-size: 2.3em;
        line-height: 1.1em;
      }

      &.size-50-80 {
        font-size: 2.1em;
        line-height: 1.1em;
      }

      &.size-80-100 {
        font-size: 1.8em;
        line-height: 1.2em;
      }

      &.size-100-120 {
        font-size: 1.7em;
        line-height: 1.2em;
      }

      &.size-120-140 {
        font-size: 1.6em;
        line-height: 1.2em;
      }
    }
  }
}
