/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

h1,
.h1 {
  font-size: 3em;
}

h5,
.h5,
p,
ul li,
ol li,
.article,
.main-nav-wrap .nav li a, .main-nav-wrap .nav-language,
.sub-nav ul.nav-dropdown .nav-drop-item
{
  font-size: 1.25em;
}

.timeline-item{
  width:20%;
}

.article {
  font-size: 1.4rem;
}

/*********************
CONTENT NEWS
*********************/

.tile-wrapper{
  .tile{

    .text {
      &.size-0-20 {
        font-size: 3.3em;
        line-height: 1em;
      }

      &.size-20-50 {
        font-size: 3.1em;
        line-height: 1.1em;
      }

      &.size-50-80 {
        font-size: 2.7em;
        line-height: 1.1em;
      }

      &.size-80-100 {
        font-size: 2.4em;
        line-height: 1.2em;
      }

      &.size-100-120 {
        font-size: 2.3em;
        line-height: 1.2em;
      }

      &.size-120-140 {
        font-size: 2em;
        line-height: 1.2em;
      }
    }

  }
}